* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #24272e;
}

header {
    background: white;
    padding: 20px;

}

header > h1 {
    color: #24272e;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 80px;
}

.score-board {
    border: 10px solid white;
    max-width: 500px;
    margin: 30px auto;
    color: white;
    font-size: 200px;
    border-radius: 5px;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Asap', sans-serif;
    position: relative;
}

.badge {
    background: red;
    color: white;
    font-size: 60px;
    padding: 2px 10px;
    font-family: 'Asap', sans-serif;
    width: 200px;
}

#user-label {
    position: absolute;
    top: 90px;
    left: -150px;
}

#computer-label {
    position: absolute;
    top: 90px;
    right: -150px;
}

.result {
    font-size: 50px;
    color: white;

}

.result > p {
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.choices {
    text-align: center;
    margin: 50px 0;
    
   
}

.choice {
    display: flex;
    margin: 40px auto;
    border: solid 10px white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 60px;
    transition: 0.3s ease;

}

.choice:hover{
    cursor: pointer;
    background: #3498db;
}

.choice > i {
    font-size: 150px;
    color: white;
}

#action-message {
    text-align: center;
    color: white;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.green-glow {
    border: solid 10px #4cd137;
    box-shadow: 0 0 40px #44bd32;
    background-color: #4cd137 !important;
}

.red-glow {
    border: solid 10px #e74c3c;
    box-shadow: 0 0 40px #c0392b;
    background-color: #e74c3c !important;
}

.grey-glow {
    border: solid 10px #95a5a6;
    box-shadow: 0 0 40px #7f8c8d;
    background-color: #95a5a6 !important;
}

@media (min-height: 750px) {

.choice {
    margin: 70px auto;
    border: solid 10px white;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    padding: 90px;
    transition: 0.3s ease;

}

.choice > i {
    font-size: 200px;
    color: white;
}

}

